<p>© <span id="year">2016</span> Nuno Maduro. Made in Paris, France.</p>
<ul>
    <li class="animated black">
        <a href="https://github.com/nunomaduro" class="tooltip" data-tooltip="GitHub">
            <i class="fa fa-github fa-lg"></i>
        </a>
    </li>
    <li class="animated red">
        <a href="https://plus.google.com/+NunoMaduro" class="tooltip" data-tooltip="Google+">
            <i class="fa fa-google-plus fa-lg"></i>
        </a>
    </li>
    <li class="animated blue-twitter">
        <a href="https://twitter.com/enunomaduro" class="tooltip" data-tooltip="Twitter">
            <i class="fa fa-twitter fa-lg"></i>
        </a>
    </li>
    <li class="animated blue-linkedin">
        <a href="https://www.linkedin.com/in/nunomaduro" class="tooltip" data-tooltip="Linkedin">
            <i class="fa fa-linkedin fa-lg"></i>
        </a>
    </li>
    <li class="animated yellow">
        <a href="mailto:enunomaduro@gmail.com" class="tooltip" data-tooltip="Email">
            <i class="fa fa-envelope fa-lg"></i>
        </a>
    </li>
    <li class="animated green">
        <a href="https://cash.me/$nunomaduro" class="tooltip" data-tooltip="Cash Me">
            <i class="fa fa-usd fa-lg"></i>
        </a>
    </li>
</ul>

<p>Inspired by <a href="http://danielfore.com" target="_blank">Daniel Foré</a>.</p>